.btn:hover > #icon{
transform: rotate(360deg);
}
#icon {
    margin-left: 10px;
    transition-property: all;
    transition-duration: .5s;
}
.server {
    margin-left: -20%;
    margin-bottom: 10px;
}
.onServer {
    transition-duration: .4s;
    transition-property: all;
    font-size: 14px;
    color: #000;
}
.onServer:hover {
    text-decoration: none; 
}
.serverNumber {
    float: right!important;
    border-radius: 10px;
    padding: 5px 12px!important;
    text-transform: uppercase;
    font-size: 10px!important;
    margin-top: 2.5px!important;
}
.server:hover > a{
  transition-duration: .4s;
  transition-property: all;
  margin-left: 10%;
}
.form-control{
padding: 14px!important;
}